body{
	margin:0px;
	background-color:#282828;
}

#guessing_buttons_full{
	display:none;
}

#guessing_buttons_full, #menu{
	padding-left:40px;
	padding-right:40px;
	margin-top:40px;
}

#guessing_buttons_full .choice_1, 
#guessing_buttons_full .choice_2, 
#guessing_buttons_full .choice_3, 
#guessing_buttons_full .choice_4
{
	display: flex;
	align-items: center;
	box-sizing:border-box;
	width:100%;
	height:10%;
	font-size:16px;
	color:white;
	float:left;
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
	font-weight:bold;
	margin-bottom:10px;
	overflow: hidden;
	padding-left:65px;
	padding-right:20px;
}

.unselected{
	background-color:#424242;
}

#menu .instruction{
	color:white;
}

#round_over_song_details{
	display:none;
}


#round_over_song_details .result_banner{
	background-color:#424242;
	width:100%;
	height:15%;
	padding-top:40px;
	font-size:20px;
	box-sizing:border-box;
	overflow:hidden;
	padding-left:40px;
	padding-right:40px;
}

#round_over_song_details .image{
	background-color:#333333;
	width:100%;
	position:relative;
	height:60%;
}

#round_over_song_details .text_info{
	background-color:#424242;
	width:100%;
	height:25%;
	padding-top: 15px;
	box-sizing:border-box;
}

#round_over_song_details div,
#round_over_song_details .song_albumart{
	justify-content: center;
	align-items: center;

}

#round_over_song_details .song_albumart{
	padding: 40px;
}

#round_over_song_details .song_artist, 
#round_over_song_details .song_title, 
#round_over_song_details .song_album
{
	margin-left:40px;
	margin-right:40px;
}

#round_over_song_details .song_title{
	font-size:30px;
	overflow-x: scroll;
	white-space: nowrap; 
}

#round_over_song_details .song_album,
#round_over_song_details .song_artist{
	font-size:25px;
	color:#A8A8A8;
	overflow-x: scroll;
	white-space: nowrap; 
}

#round_over_song_details .song_title::-webkit-scrollbar,
#round_over_song_details .song_album::-webkit-scrollbar,
#round_over_song_details .song_artist::-webkit-scrollbar{
	display:none;
}

#round_over_song_details .song_albumart img{
	width:100%;
}

#round_over_song_details .player_score, #round_over_song_details .player_round_result{
	display:inline;
}

.itunes{
	width:160px;
	position:absolute;
}

.song_buylink{
	display: flex;
	align-items: center;
	width:100%;
	position:absolute;
}

.play_icon{
	padding-top:13px;
	padding-left:12px;
	font-size:20px !important;
	color:white;
}

.forward{
	padding-top:13px;
	padding-left:12px;
	font-size:20px !important;
	color:white;
}

.backward{
	padding-top:13px;
	padding-left:7px;
	font-size:20px !important;
	color:white;
}

.bars-position{
	top:40px;
}

.bars{
	padding-top:13px;
	padding-left:10px;
	font-size:20px !important;
	color:white;
}


.button_circle{
	padding-top:8px;
	padding-left:10px;
	font-size:50px !important;
	color:#282828;
}

#button_icon{
	height:100%;
	width:22%;
}


.flexbox{
	height: 11%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-bottom:5%;
}
.flexbox div {
	background-color:#424242;
}

.button_text, .button_comment{
	width:80%;
	height: 50%;
	padding-left:10px;
}

.button_text{
	font-size:15px;
	padding-top:10px;
	box-sizing:border-box;
}

.button_comment{
	color:#A8A8A8;
	font-size:13px;
	box-sizing:border-box;
	padding-bottom:10px;
}
