/*
cardinal pink #cd1c24
pale red #e49191
raw umber brown #783f10
dark gray #a28b4e
rodeo dust light gray #c8b29f
dark green #365e3f
*/

@font-face {
  font-family: 'DiscoFont';
  src: url('Monoton-Regular.ttf')  format('truetype');
}

body{
	margin:0px;
	background-color:#282828;
}

#guessing_buttons_full, #waiting_for_next_round{
	display:none;
}

#waiting_for_next_round, #waiting_for_start{
	padding:4em;
}

#guessing_buttons_full .choice_container{
	width: 100vw;
	height: 25vh;
	display: flex;
    align-items: center;
}

#guessing_buttons_full .choice_container div{
	display: flex;
	height: 100%;
	align-items: center;
	padding: 15px;
	overflow: hidden;
}

#menu{
    display: flex;
    flex-direction: row;
    width: 100vw;
    flex-wrap: wrap;	
	position: relative;
}

.icon-container{
	left: 10vw;
    position: absolute;
}

.icon-container.plus{
	background-color: #e49191;
}

.icon-container.minus{
	background-color: #a28b4e;
}

#next_playlist .icon-container{
	left: unset;
	right: 1vw;
}

#previous_playlist .icon-container{
	left: 1vw;
}

#round_change_buttons{
	display: flex;
	height: 33.333333vh;
}

#round_change_buttons .icon-container{
	position: relative;
	left: unset;
}

.fa.fa{
	font-size: 2em;
}

#start_game,#round_change_buttons{
	width: 100vw;
}

#round_change_buttons .icon-container, #round_change_buttons .vertical-container{
	width: 33.33333%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.vertical-container{
	background-color: #783f10;
	flex-direction: column;
}

.vertical-container span{
	line-height: 1;
}

#start_game{
	background-color: #cd1c24;
}

#next_playlist{
	background-color: #365e3f;
}

#previous_playlist{
	background-color: #c8b29f;
}


#guessing_buttons_full{
	width: 100vw;
	height: 100vh;
}

#guessing_buttons_full .choice_container
{
	box-sizing:border-box;
	width:100%;
	font-size:15px;
	color:white;
	float:left;
	font-family: Georama;
    text-transform: uppercase;
	overflow: hidden;
	text-overflow: ellipsis;
}

#guessing_buttons_full .fa-stack{
	padding: 1em;
}

#guessing_buttons_full .choice_1, #guessing_buttons_full #choice_1{
	background-color: #e49191;
}

#guessing_buttons_full .choice_2, #guessing_buttons_full #choice_2{
	background-color: #c8b29f;
}

#guessing_buttons_full .choice_3, #guessing_buttons_full #choice_3{
	background-color: #783f10;
}

#guessing_buttons_full .choice_4, #guessing_buttons_full #choice_4{
	background-color: #a28b4e;
}

#menu, #waiting_for_start{
	display: none;
}

#menu .instruction{
	color:white;
}

#round_over_song_details, #game_over{
	display:none;
}

#game_over .icon-container{
	display: contents;
	width: 100%;
}

#game_over .button_text{
	width: 100%;
	position: relative;
	margin-top: 30px;
}

#game_over{
	width: 100vw;
    height: 100vh;
	background-color: #cd1c24;
	display:flex;
	flex-direction:column;
}


#round_over_song_details .result_banner{
	background-color:#424242;
	padding-top:40px;
	font-size:20px;
	box-sizing:border-box;
	overflow:hidden;
	padding-left:40px;
	padding-right:40px;
}

#round_over_song_details .image{
	background-color:#333333;
	width:100%;
	padding-bottom:1em;
}

#round_over_song_details .text_info{
	background-color:#424242;
	width:100%;
	box-sizing:border-box;
	height:8em;
}

#round_over_song_details div,
#round_over_song_details .song_albumart{
	justify-content: center;
	align-items: center;

}

#round_over_song_details .song_albumart{
	padding: 2.5em;
	padding-top:1em;
	padding-bottom:1em;
}

#round_over_song_details .song_artist, 
#round_over_song_details .song_title, 
#round_over_song_details .song_album
{
	margin-left:40px;
	margin-right:40px;
}

#round_over_song_details .song_title{
	font-size:30px;
	overflow-x: scroll;
	white-space: nowrap; 
}

#round_over_song_details .song_album,
#round_over_song_details .song_artist{
	font-size:25px;
	color:#A8A8A8;
	overflow-x: scroll;
	white-space: nowrap; 
}

#round_over_song_details .song_title::-webkit-scrollbar,
#round_over_song_details .song_album::-webkit-scrollbar,
#round_over_song_details .song_artist::-webkit-scrollbar{
	display:none;
}

#round_over_song_details .song_albumart img{
	width:100%;
}

#round_over_song_details .player_score, #round_over_song_details .player_round_result{
	display:inline;
}

.itunes{
	width:160px;
	position:absolute;
}

.song_buylink{
	display: flex;
	height:60px;
}

.fa-stack{
	font-size:1.6em !important;
}


.flexbox{
	display: flex;
	height: 33.3333333vh;
	width: 50vw;
	justify-content: center;
	align-items: center;
	position: relative;
}

.button_comment{
	width:100%;
	height: 50%;
	padding-left:10px;
}

.button_text, .vertical-container{
	font-family: Oswald;
    text-transform: uppercase;
    font-size: 2em;
	transform: uppercase;
}
.button_text{
	width: 75%;
	display: flex;
	justify-content: center;
	position: absolute;
}

.button_comment, .button_comment_reduced{
	color:#A8A8A8;
	font-size:13px;
	box-sizing:border-box;
	padding-bottom:10px;
}

#guessing_buttons_full#guessing_buttons_full .wrong-selected.wrong-selected, #guessing_buttons_full#guessing_buttons_full .wrong-selected div{
	background-color:red;
}

#guessing_buttons_full#guessing_buttons_full .correct-selected.correct-selected, #guessing_buttons_full#guessing_buttons_full .correct-selected div{
	background-color:green;
}
