/*
primary red: #b51d05;
secondary orange: #e8822d;
text yellow: #ffdc40;
text white: white;
*/

#credits-container{
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	display: flex;
	position: absolute;
	top: 200px;
	opacity: 0.9;
}

#credits, #victory_screen{
	background-color: #b51d05;
	box-shadow: 1px 1px 10px black;
	opacity: 0;
	font-size: 2em;
	display:none;
	flex-direction: column;
    align-items: center;
	text-transform:none;
	width: 50vw;
}

#victory_screen .single-result{
	height: unset;
	background-color: #e8822d;
	font-size: 0.5em;
	margin-bottom: 2em;
	box-shadow: 1px 1px 10px black;
}

#victory_screen .game_over{
	font-size: 2em;
	text-transform: uppercase;
	margin-bottom: 0.5em;
}

#victory_screen .result_category, #credits .category{
	color: #ffdc40;
	text-transform: uppercase;
}

#victory_screen .result, #credits .content{
	text-transform: none;
	color: white;
}

#credits .content a{
	color:white;
}

#credits a{
	color: rgb(255 220 64);
}

@font-face {
  font-family: 'DiscoFont';
  src: url('Monoton-Regular.ttf')  format('truetype');
}

body{
	overflow:hidden;
}

.player_name, .player_score{
	width:120px;
	text-align:center;
	overflow:hidden;
}

div .position_display{
	position:absolute;
	text-align:center;
	font-size:80px;
	width:120px;
	z-index:3;
	font-weight:600;
}

.instruction {
	background-color: rgba(0, 0, 0, 0.2);
	padding:20px;
	width:initial !important;
}
.instruction.logo{
	background-color: unset;
}

#player-results{
	position:absolute;
	bottom: 2vh;
	left: 24vh;
	height: 20vh;
	overflow:hidden;
}

#results-scrollable{
	position:relative;
	display:flex;
	height:170px;
}

.single-result{
	float:left;
	width:120px;
	height: 20vh;
	position:relative;
	background: #b51d05;
	margin-right: 20px;
	box-shadow: 1px 1px 10px black;
}

.single-result img{
	width:120px;
	height:120px;
	z-index:1;
}

div .darken_image{
    background-color: rgba(0,0,0,0.5);
    width: 120px;
    height: 120px;
    position: absolute;
    top: 0px;
    z-index: 2;
}

div .avatar_correct{
	background-color: rgba(0,255,0,0.5);
}

div .avatar_wrong{
	background-color: rgba(255,0,0,0.5);
}


.single-result span{
	width:100%;
	display:flex;
	justify-content: center;
	align-items: center;
	line-height:30px;
}

#screen-wrapper .instruction, #status{
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size:40px;
	font-weight:bold;
}

#screen-wrapper{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#current_album_art img {
	width:200px;
}

.left{
	float:left;
}

#roundTime{
    font-size: 8em;
    position: absolute;
    /* margin-left: 25px; */
    left: 2vh;
    bottom: 2vh;
    /* border: 5px solid; */
    /* border-radius: 25px; */
    justify-content: center;
    align-items: center;
    display: none;
    width: 20vh;
    height: 20vh;
    background: rgba(181,29,5, 1);
    box-shadow: 1px 1px 10px black;
	display:none;
}

#playanimation{
	margin-top:50px;
	width:200px;
	display: none;
}

#playlist-selector{
	display:none;
	width:100%;
	left:-8px;
	margin-top:20px;
	position:relative;
	justify-content:center;
}

#playlist-selector .album_art{
	float:left;
	min-width: 11vw;
	background:rgb(232 130 45);
	margin-left:10px;
	min-height: 33vh;
	max-height: 33vh;
	font-size: 0.5em;
	box-shadow: 1px 1px 10px black;
}

#playlist-selector .album_art img{
	width: 5.5vw;
	height: 5.5vw;
}

#playlist-selector .album_art.active{
	background:rgb(181 29 5);
	min-width: 22vw;
	height: 100%;
	font-size: 1.1em;
	max-height: unset;
}

#playlist-selector .album_art.active img{
	width: 11vw;
	height: 11vw;
}

#playlist-selector .playlist-text{
	padding: 1em;
	color:white;
	font-size: 1.8em;
	flex-direction: column;
    display: flex;
    align-items: center;
}

#playlist-selector .playlist-description{
	color:rgb(255 220 64);
	text-transform: none;
	text-align:center;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
}

#game_logo {
    font-family: 'DiscoFont';
    font-weight: 500;
    font-size: 115px;
    /* background: -webkit-linear-gradient( #1D808B, #B51D05); */
    /* background: -webkit-linear-gradient( #ED7627, #81217C ); */
    /* background: -webkit-linear-gradient( #81217C, #ED7627 ); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: #ED7627; */
    /* -webkit-text-fill-color: #fc3756; */
    /* outline: aqua; */
    /* -webkit-text-emphasis: #e8e823; */
    /* -webkit-text-stroke: blanchedalmond; */
    line-height: 115px;
    -webkit-text-stroke: 2px #fc3756;
    /* color: white; */
    text-shadow: -1px 1px 5px rgb(181 29 5), 
	-2px 2px 5px rgb(181 29 5), 
	-3px 3px 5px rgb(181 29 5), 
	-4px 4px 5px rgb(181 29 5), 
	-5px 5px 5px rgb(181 29 5), 
	-6px 6px 5px rgb(181 29 5), 
	-7px 7px 5px rgb(181 29 5), 
	-8px 8px 5px rgb(181 29 5), 
	-9px 9px 5px rgb(181 29 5), 
	-10px 10px 5px rgb(181 29 5), 
	-11px 11px 5px #e8822d, 
	-12px 12px 5px #e8822d, 
	-13px 13px 5px #e8822d, 
	-14px 14px 5px #e8822d, 
	-15px 15px 5px #e8822d, 
	-16px 16px 5px #e8822d, 
	-17px 17px 5px #e8822d, 
	-18px 18px 5px #e8822d, 
	-19px 19px 5px #e8822d, 
	-20px 20px 5px #e8822d, 
	-21px 21px 5px rgb(255 220 64), 
	-22px 22px 5px rgb(255 220 64), 
	-23px 23px 5px rgb(255 220 64), 
	-24px 24px 5px rgb(255 220 64), 
	-25px 25px 5px rgb(255 220 64), 
	-26px 26px 5px rgb(255 220 64), 
	-27px 27px 5px rgb(255 220 64), 
	-28px 28px 5px rgb(255 220 64), 
	-29px 29px 5px rgb(255 220 64), 
	-30px 30px 5px rgb(255 220 64);
}

div#current_song_service #disclaimer, div#current_song_service #get_it_link{
	width:100%;
	font-size:28px;
}
div#current_song_service{
	display:block;
	padding-top:20px;
	text-align: center;
	font-size: 40px;
    font-weight: bold;
} 

div#current_song_service #get_it_link a{
	cursor:pointer;
}

img.itunes{
	width:250px;
	padding-top:20px;
}
