body{
	background: url("background.svg");
}

.instruction {
	background-color: rgba(0, 0, 0, 0.2);
	padding:20px;
	width:initial !important;
}

#screen-wrapper{
}

#player-results{
	position:absolute;
	bottom:0px;
	left:225px;
	overflow:hidden;
	margin-bottom:-5px;
}

.single-result{
	background-color: rgba(0, 0, 0, 0.6);
	margin-left:25px;
	border: 5px solid;
    border-radius: 25px;
	float:left;
	width:200px;
}

.single-result img{
	width:64px;
	height:64px;
}

.single-result span{
	width:100%;
	display:flex;
	justify-content: center;
	align-items: center;
	line-height:30px;
}

#screen-wrapper div{
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size:40px;
	font-weight:bold;
}

#current_album_art img {
	width:200px;
}

.left{
	float:left;
}

#roundTime{
	font-size:160px;
	position:absolute;
	left:25px;
	bottom:25px;
	line-height:160px;
	background-color: rgba(0, 0, 0, 0.6);
	width:190px;
	border: 5px solid;
    border-radius: 25px;
	justify-content: center;
	align-items: center;
	display:none;
}

#playanimation{
	margin-top:50px;
	width:200px;
}

#playlist-selector{
	display:none;
	width:100%;
	left:-8px;
	margin-top:20px;
	position:relative;
	justify-content:center;
}

#playlist-selector .album_art{
	float:left;
	width:200px;
	min-width:200px;
	background:#0688fa;
	margin-left:10px;
	height:320px;
}

#playlist-selector .album_art.active{
	background:#0c0b52;
	min-width:250px;
	height:400px;
}

#playlist-selector .album_art.active img{
	width:125px;
	height:125px;
}

#playlist-selector .playlist-text{
	line-height:25px;
	padding-left:15px;
	padding-right:15px;
	padding-top:10px;
	color:white;
	font-size:13px;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
}

img#game_logo {
	width:500px;
}
