/*
primary red: #b51d05;
secondary orange: #e8822d;
text yellow: #ffdc40;
text white: white;
*/

@media (max-width: 960px) {
	#playlist-selector#playlist-selector .playlist-text{
		font-size: 1.5em;
	}
	#game_logo#game_logo{
		font-size: 2em;
		margin-bottom: 0.1em;
		margin-top: 0.1em;
	}
	#playlist-selector#playlist-selector .album_art.active{
		font-size: 0.6em;
	}
	#roundTime#roundTime{
		font-size: 5em;
	}
	.single-result.single-result img{
		width: 60px;
		height: 60px;
	}
	.single-result.single-result{
		width: 60px;
		font-size: 0.8em;
	}
	#playanimation#playanimation{
		width: unset;
	}
	img.itunes.itunes{
		width: 120px;
	}
	div#current_song_service #disclaimer#disclaimer{
		font-size: 0.5em;
	}
	#message#message{
		font-size: 0.8em;
	}
	#status#status{
		font-size: 2em;
	}
	div .darken_image.darken_image {
		width: 60px;
		height: 60px;
		font-size: 0.8em;
	}
	.player_score.player_score, .player_name.player_name{
		font-size: 0.8em;
		width: 60px;
	}
	.position_display.position_display{
		width: 60px;
		font-size: 2em;
	}
	#victory_screen .game_over.game_over{
		font-size: 1em;
	}
	#credits#credits, #victory_screen#victory_screen{
		font-size: 1em;
	}
	#victory_screen#victory_screen .player_score, #victory_screen#victory_screen .player_name{
		font-size: 1.5em;
	}	
}

#credits-container{
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	display: flex;
	position: absolute;
	top: 150px;
	opacity: 0.9;
}

#credits, #victory_screen{
	background-color: #b51d05;
	box-shadow: 1px 1px 10px black;
	opacity: 0;
	font-size: 1.8em;
	display:none;
	flex-direction: column;
    align-items: center;
	text-transform:none;
	width: 50vw;
}

#victory_screen .single-result{
	height: unset;
	background-color: #e8822d;
	font-size: 0.5em;
	margin-bottom: 2em;
	box-shadow: 1px 1px 10px black;
}

#victory_screen .game_over{
	font-size: 2em;
	text-transform: uppercase;
	margin-bottom: 0.5em;
}

#victory_screen .result_category, #credits .category{
	color: #ffdc40;
	text-transform: uppercase;
}

#victory_screen .result, #credits .content{
	text-transform: none;
	color: white;
}

#credits .content a{
	color:white;
}

#credits a{
	color: rgb(255 220 64);
}

body{
	overflow:hidden;
	margin: 0px;
}

.player_name, .player_score{
	width:120px;
	text-align:center;
	overflow:hidden;
}

div .position_display{
	position:absolute;
	text-align:center;
	font-size:80px;
	width:120px;
	z-index:3;
	font-weight:600;
}

#player-results{
	position:absolute;
	bottom: 2vh;
	left: 24vh;
	height: 20vh;
	overflow:hidden;
	display: none;
}

#results-scrollable{
	position:relative;
	display:flex;
	height:170px;
}

.single-result{
	float:left;
	width:120px;
	height: 20vh;
	position:relative;
	background: #b51d05;
	margin-right: 20px;
	box-shadow: 1px 1px 10px black;
}

.single-result img{
	width:120px;
	height:120px;
	z-index:1;
}

div .darken_image{
    background-color: rgba(0,0,0,0.5);
    width: 120px;
    height: 120px;
    position: absolute;
    top: 0px;
    z-index: 2;
}

div .avatar_correct{
	background-color: rgba(0,255,0,0.5);
}

div .avatar_wrong{
	background-color: rgba(255,0,0,0.5);
}


.single-result span{
	width:100%;
	display:flex;
	justify-content: center;
	align-items: center;
	line-height:30px;
}

#screen-wrapper .instruction, #status{
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size:40px;
	font-weight:bold;
}

#screen-wrapper{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#current_album_art img {
	width:200px;
}

.left{
	float:left;
}

#message{
	background: #b51d05;
}

#status{
	background: #e8822d;
}

#status-wrapper{
	width: 100%;
    display: flex;
}

#message, #status{
	width: 100%;
    display: none;
    flex-direction: row;
    justify-content: center;
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-top: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	opacity: 0.9;
	box-shadow: 1px 1px 10px black;
}

#roundTime{
	bottom: 2vh;
	font-size: 8em;
	background: rgba(181,29,5, 1);
}

#roundCounter{
	bottom: 24vh;
	font-size: 2em;
	background:#e8822d;
	color: white;
}

#roundTime, #roundCounter{
	text-align: center;
    position: absolute;
    /* margin-left: 25px; */
    left: 2vh;
    /* border: 5px solid; */
    /* border-radius: 25px; */
    justify-content: center;
    align-items: center;
    display: none;
    width: 20vh;
    height: 20vh;
    box-shadow: 1px 1px 10px black;
	display:none;
}

#playanimation{
	margin-top:50px;
	width:200px;
	display: none;
}

#playlist-selector{
	display:none;
	width:100%;
	left:-8px;
	margin-top:20px;
	position:relative;
	justify-content:center;
	align-items: start;
	letter-spacing: 1px;
}

#playlist-selector .album_art{
	float:left;
	min-width: 11vw;
	background: #e8822d;
	margin-left:10px;
	min-height: 33vh;
	font-size: 0.5em;
	box-shadow: 1px 1px 10px black;
}

#playlist-selector .album_art img{
	width: 5.5vw;
	height: 5.5vw;
}

#playlist-selector .album_art.active{
	background: #b51d05;
	min-width: 22vw;
	height: 100%;
	font-size: 1.1em;
	max-height: unset;
}

#playlist-selector .album_art.active img{
	width: 11vw;
	height: 11vw;
}

#playlist-selector .playlist-text{
	padding: 1em;
	color:white;
	font-size: 1.8em;
	flex-direction: column;
    display: flex;
    align-items: center;
}

#playlist-selector .playlist-description{
	color:rgb(255 220 64);
	text-transform: none;
	text-align:center;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
}

#game_logo {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
    font-family: 'DiscoFont';
    font-weight: 500;
    font-size: 3em;
    line-height: 1em;
    -webkit-text-stroke: 2px #fc3756;
    text-shadow: -1px 1px 5px rgb(181 29 5), 
	-2px 2px 5px rgb(181 29 5), 
	-3px 3px 5px rgb(181 29 5), 
	-4px 4px 5px rgb(181 29 5), 
	-5px 5px 5px rgb(181 29 5), 
	-6px 6px 5px rgb(181 29 5), 
	-7px 7px 5px rgb(181 29 5), 
	-8px 8px 5px rgb(181 29 5), 
	-9px 9px 5px rgb(181 29 5), 
	-10px 10px 5px rgb(181 29 5), 
	-11px 11px 5px #e8822d, 
	-12px 12px 5px #e8822d, 
	-13px 13px 5px #e8822d, 
	-14px 14px 5px #e8822d, 
	-15px 15px 5px #e8822d, 
	-16px 16px 5px #e8822d, 
	-17px 17px 5px #e8822d, 
	-18px 18px 5px #e8822d, 
	-19px 19px 5px #e8822d, 
	-20px 20px 5px #e8822d, 
	-21px 21px 5px rgb(255 220 64), 
	-22px 22px 5px rgb(255 220 64), 
	-23px 23px 5px rgb(255 220 64), 
	-24px 24px 5px rgb(255 220 64), 
	-25px 25px 5px rgb(255 220 64), 
	-26px 26px 5px rgb(255 220 64), 
	-27px 27px 5px rgb(255 220 64), 
	-28px 28px 5px rgb(255 220 64), 
	-29px 29px 5px rgb(255 220 64), 
	-30px 30px 5px rgb(255 220 64);
}

div#current_song_service #disclaimer, div#current_song_service #get_it_link{
	width:100%;
	font-size:28px;
}
div#current_song_service{
	display:block;
	padding-top:20px;
	text-align: center;
	font-size: 40px;
    font-weight: bold;
} 

div#current_song_service #get_it_link a{
	cursor:pointer;
}

img.itunes{
	width:250px;
	padding-top:20px;
}
